*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    
    height: 80px;
    width: 100%;
    text-decoration: transparent;
    background: url(../images/back_img.jpg);

}
label.logo{
    color: floralwhite;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul{
    float: right ;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: floralwhite;
    font-size: 17px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: lightcoral ;
    transition: .5s;
    border-radius: 10px;

}
.checkbtn{
    font-size: 30px;
    color: mintcream;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    lable.logo{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;

    }
    @media (max-width:858px){
        .checkbtn{
            display: block;

                }
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: lightcoral ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: darkorange;

    }
    #check:checked ~ ul{
        left: 0;

    }
}
.glow{
    font-size: 100px;
    
    letter-spacing: 8px;
    margin-left: 30px;
    padding-top: 170px;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .homeimage{
    margin-right:90px;
    margin-left: 900px;
    margin-top: -600px;
    padding-top: 60px;
  }

  .card{
    position: absolute;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    background-position: right;
    background-size: cover;
    
    
    
}
.mencard{
    
   margin-top: 200px;
    margin-left: 200px;

    background-image: url(../images/mensbackwallpaper.jpg);
}

  .womencard{
    margin-top: 200px;
    margin-left: 450px;
    background-image: url(../images/women.jpg);
  }
  .girlcard{
    margin-top: 200px;
    margin-left: 700px;
    background-image: url(../images/girlbackgrond.jpg);
  }
  .boycard{
    margin-top: 200px;
    margin-left: 950px;
    background-image: url(../images/boybackground.jpg);
  }
  .card:hover{
      transform: translateY(-10px);
  }

  .neon {
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 10px #fff,
    0 0 10px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 20px #0ff,
    0 0 20px #0ff;
  }
  .card2{
    position: absolute;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    background-position: right;
    background-size: cover;
    transform: rotate(45deg)
    
    
}
.nextcard{
    
    margin-top: 170px;
    margin-left: 600px;

    background-image: url(../images/makeupback.jpg);
}
.card2:hover{
    transform: translateY(-10px);
}
 